.button-list {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Add gap between buttons */
  margin: 16px; /* Add margin to position the list */
}

.release-btn,
.post-publish-btn {
  height: 48px;
  background-color: #8b5cf6;
  color: white;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
